{% extends "base.html" %}

{% block title %}{{ rule_name }}{% endblock %}

{% block head %}
<script src="/public/yivi.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2>{{ rule_name }}</h2>
<p>Scan de code hieronder met je Yivi app om een voucher te krijgen waarmee je je toeslag kan laten uitkeren. Je zal alleen een voucher krijgen als je recht hebt op toeslag.</p>
<p><a href="/">Terug naar het regeloverzicht</a></p>
<center>
  <div id="yivi"></div>
</center>
<form method="POST" style="visibility: hidden; height: 0;">
  <input type="text" name="token" />
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  let form = document.getElementsByTagName("form")[0];
  let input = form.getElementsByTagName("input")[0];

  const yiviWeb = yivi.newWeb({
    debugging: false,
    element:   '#yivi',

    session: {
      start: {
        url: _ => `/{{ rule_id }}/session`,
      },
      result: {
        method: 'POST',
        url: (_, { sessionToken }) => `/{{ rule_id }}/${ sessionToken }/finish`,
      },
    }
  });

  yiviWeb.start()
    .then(result => {
      input.value = result.token;
      form.submit()
    })
    .catch(error => console.error("Something went wrong:", error));
</script>
{% endblock %}
