.main-container {
	display: flex;
	margin: 5px;
	
	.form {
		background-color: #15172b;
		border-radius: 20px;
		box-sizing: border-box;
		padding: 20px;

		.title {
			color: #eee;
			font-family: sans-serif;
			font-size: 36px;
			font-weight: 600;
			margin-top: 30px;
		}

		.subtitle {
			color: #eee;
			font-family: sans-serif;
			font-size: 16px;
			font-weight: 600;
			margin-top: 10px;
		}

		.required {
			color: #dc2f55;
		}

		.input-container {
			height: 50px;
			position: relative;
			width: 100%;

			.input {
				background-color: #303245;
				border-radius: 12px;
				border: 0;
				box-sizing: border-box;
				color: #eee;
				font-size: 18px;
				height: 100%;
				outline: 0;
				padding: 4px 20px 0;
				width: 100%;
			}

			.cut {
				background-color: #15172b;
				border-radius: 10px;
				height: 20px;
				left: 20px;
				position: absolute;
				top: -20px;
				transform: translateY(0);
				transition: transform 200ms;
				width: 76px;
			}

			.input:focus ~ .cut,
			.input:not(:placeholder-shown) ~ .cut {
				transform: translateY(8px);
			}

			.placeholder {
				color: #65657b;
				font-family: sans-serif;
				left: 20px;
				line-height: 14px;
				pointer-events: none;
				position: absolute;
				transform-origin: 0 50%;
				transition: transform 200ms, color 200ms;
				top: 20px;
			}

			.input:focus ~ .placeholder,
			.input:not(:placeholder-shown) ~ .placeholder {
				transform: translateY(-30px) translateX(10px) scale(0.75);
			}
			
			.input:not(:placeholder-shown) ~ .placeholder {
				color: #808097;
			}
			
			.input:focus ~ .placeholder {
				color: #dc2f55;
			}
		}

		.ic1 {
			margin-top: 40px;
		}
	}

	.table-container {
		margin-left: 30px;

		.title {
			color: #000;
			font-family: sans-serif;
			font-size: 36px;
			font-weight: 600;
			margin-top: 10px;
		}

		.table {
			border-collapse: collapse;
			font-family: Tahoma, Geneva, sans-serif;
			min-width: 80%;

			td {
				padding: 15px;
			}
			thead {
				th {
					background-color: #54585d;
					color: #ffffff;
					font-weight: bold;
					font-size: 13px;
					border: 1px solid #54585d;
					margin: 5px;
				}
			}
			tbody {
				td {
					color: #636363;
					border: 1px solid #dddfe1;
				}
				tr {
					background-color: #f9fafb;
					&:nth-child(odd) {
						background-color: #ffffff;
					}
				}
			}
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		z-appearance: textfield;
	}
}
